h1 {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: AntiqueWhite ;
}

path {
  fill: none;
  stroke: black;
  stroke-width: 5;
  stroke-opacity: 0.5;
}

#path_tr {
  stroke: dodgerblue;
  stroke-width: 10;
}

circle {
    fill: lightcoral;
    stroke: black;
}

text {
  font-size: 25px;
}
